.body{
  background: rgb(210, 251, 129);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav{
  display: flex;
}

.menu{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 15px;
}

.header{
  background: rgb(30, 33, 54);
  height: 500px;
  width: 100%;
  color: white;
}

.information{
  background: rgb(142, 239, 170);

}